<h1>El caminar entre voces</h1>
<p>Michael Luo</p>
<header><img src="https://www.esportmaniacos.com/wp-content/uploads/2020/09/udyr-spirit-guard.jpg">
----------------------------------------------------------
<h2>CAP&iacute;TULO 1:</h2>
<<<<<<< Updated upstream
<p>Udyr oyó el graznido de un águila que surcaba el viento a lo lejos. Sonaba fuerte, segura, pero no lo suficiente como para inmiscuirse en sus pensamientos. Era un alivio sentirse tan humano.
=======
<p>Udyr oy&oacute; el CHILLIDO de un &aacute;guila que surcaba el viento a lo lejos. Sonaba fuerte, segura, pero no lo suficiente como para inmiscuirse en sus pensamientos. Era un alivio sentirse tan humano.
>>>>>>> Stashed changes

Las voces nunca callaban, pero Udyr no acostumbraba a quejarse. Cualquier momento de calma puntual resultaba extraordinario.

"Oigo mi propia respiraci&oacute;n..., al menos, de momento".</p>

<p>Hoy viajaba solo. Recorría las laderas acompañado de una brisa fresca, recordando la belleza et&eacute;rea de Jonia cada vez que el viento soplaba. Los monjes de Hirana, al conocer que este se marchaba de sus tierras, lo hab&iacute;an obsequiado con un regalo de despedida algunas lunas atr&aacute;s: un acertijo para guiarlo en su prop&oacute;sito de perfeccionar los poderes espirituales.

Bajo la cumbre invernal

fluye la esencia vital pura de la naturaleza;

ahora con forma cristalina.</p>

<p>Sonaba mejor en la lengua local que en la suya propia, pero no le hab&iacute;a costado resolverlo. Tras meses viajando con el monje ciego, Udyr había aprendido a descifrar las expresiones jonias.

Al llegar a las empinadas pendientes de Cima Invernal, Udyr se detuvo a observar el lago que ten&iacute;a ante sus ojos, totalmente majestuoso y g&eacute;lido. En las orillas del lago se apreciaban huesos y cad&aacute;veres de animales silvestres y humanos; chamanes y sacerdotes que hab&iacute;an acudido a aquel lugar meses, años y vidas antes que &eacute;l.

Udyr permaneci&oacute; inm&oacute;vil, con el pecho al descubierto y los ojos cerrados, aguantando el fr&iacute;o matinal.</p>

<p>"Estas tierras eran mi hogar…".</p>

<p>Observ&oacute; su reflejo en el hielo. Mostraba a un hombre desaliñado y molido tras largos viajes.</p>

<p>"Hasta aquí llega mi descanso. Los oigo aproximarse".</p>

----------------------------------------------------------
<footer><p> Michael M. Luo (born 1976) is an American journalist and current editor of newyorker.com. He previously wrote for The New York Times, where he was an investigative reporter. He worked at Riot Games helping with character narrative such as Lee Sin, Udyr...</p>
<p> LORE: https://universe.leagueoflegends.com/es_ES/champion/udyr/</p>

